@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "zihunchuangzhonghei", "Outfit", sans-serif;
  --font-sans: "zihunchuangzhonghei", "Outfit", sans-serif;
  
  --color-ren-cream: #F4EADC;
  --color-ren-pink-soft: #F3C6C3;
  --color-ren-pink-rose: #F3A2A4;
  --color-ren-pink-muted: #F2B7B6;
  --color-ren-ink: #0F0F0F;
}

body {
  @apply bg-ren-cream text-ren-ink font-sans antialiased;
}

h1, h2, h3, h4 {
  @apply font-serif;
}
